body {

    margin-left: 2%;
    margin-right: 2%;
    margin-bottom:2%;
    border: 1px solid red;
    position: relative;
}

#NomeTopo{

    
    
}

.NomeH1{

    border: 1px 
    display: inline-block;
    margin:0 0% 0 15%;
    font-family:Arial, Helvetica, sans-serif;
    padding: 10px;

}

.FotoPerfil{

    border-radius: 50%;
    position: relative;
    margin-left:86%;
    margin-top:-7%;

}

